@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
}

html,
body {
  @apply text-zinc-800 bg-white antialiased;
  font-family: 'Orbitron Variable', sans-serif;
  position: relative;
  min-height: 100%;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', system-ui;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p a {
  @apply hover:underline;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  min-height: calc(100vh - 80px);
}
/* Custom CSS Variables */


.bottomInputFormFrame {
  position: fixed;
  bottom: 0;
  width: 100%;

  z-index: 10;
  border-width: 1px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.image-card {
  border-width: 1px;
  border-color: #454545ff; 
  width: auto;
  padding: 10px;
  }


.featured-image-card {
  border-width: 3px;
  box-shadow: xl;
  border-color: #454545ff; 
  padding: 10px;
  }


/* Custom Animations */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
  }
}


@keyframes shadow-loop {
  0%, 100% {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  25% {
    box-shadow:  2px 10px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: -3px 15px 10px rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: 2px 10px 100px rgba(0, 0, 0, 0.2);
  }
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: scale(1);
  }
  to {
      opacity: 0;
      transform: scale(0);
  }
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(0.97);
      opacity: .7;
  }
}


.element-fade-in {
  animation: fadeIn .2s ease-in;
}

.element-fade-out {
  animation: fadeOut 2s linear;
}

.element-pulse {
  animation: pulse .5s linear infinite;
}

.animated-shadow {
  animation: shadow-loop 20s linear infinite;
}

.fade-in-from-top{
  animation: animateIn 1.5s;
}

.Logo {
  transition: fill 0.5s ease-in-out;
}